*~
*.tmp
*.temp
*.swp
*.swap
*.cache

.DS_Store
*.icloud

*.iml
*.ipr
*.iws
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.project
*.settings
*.includepath
.junie/

/vendor

/LOCALNOTES
/testcmd
